@model IEnumerable<eLab.Models.Nalaz>

@{
    ViewData["Title"] = "Index";
}

<h1>Nalazi</h1>

<p>
    <a asp-action="Create">Dodaj novi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="background-color:orangered">
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th style="background-color:orangered">
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th style="background-color:orangered">
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th style="background-color:orangered">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="background-color:orangered">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th style="background-color:orangered">
                @Html.DisplayNameFor(model => model.Pacijent)
            </th>
            <th style="background-color:orangered">
                @Html.DisplayNameFor(model => model.Analiza)
            </th>
            <th style="background-color:orangered">
                @Html.DisplayNameFor(model => model.IsUrgent)
            </th>
            <th style="background-color:orangered"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pacijent.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Analiza.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsUrgent)
            </td>
            <td>
                @if (User != null && User.Identity?.Name == "lab@elab.ba")
                {<a asp-action="Edit" asp-route-id="@item.Id">Uredi</a>}|
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                @if (User != null && User.Identity?.Name == "lab@elab.ba")
                {<a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>}
                <a asp-action="Report" asp-route-id="@item.Id">Report</a>
            </td>
        </tr>
}
    </tbody>
</table>
