@using X.PagedList.Mvc.Core
@using X.PagedList

@model IPagedList<eLab.Models.Pacijent>

@{
    ViewData["Title"] = "Index";
}

<h1>Pacijenti</h1>

<p>
    <a asp-action="Create">Dodaj novog</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="background-color:dodgerblue">
                @Html.DisplayNameFor(model => model.First().DateCreated)
            </th>
            <th style="background-color:dodgerblue">
                @Html.DisplayNameFor(model => model.First().DateUpdated)
            </th>
            <th style="background-color:dodgerblue">
                @Html.DisplayNameFor(model => model.First().Timestamp)
            </th>
            <th style="background-color:dodgerblue">
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th style="background-color:dodgerblue">
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            @*<th style="background-color:dodgerblue">
                @Html.DisplayNameFor(model => model.First().Karton)
            </th>*@
            <th style="background-color:dodgerblue"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Karton.Id)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
