@model IEnumerable<eLab.Models.ReferentneVrijednosti>

@{
    ViewData["Title"] = "Index";
}

<h1>Referentne Vrijednosti</h1>

<p>
    <a asp-action="Create">Dodaj novu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="background-color:deeppink">
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th style="background-color:deeppink">
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th style="background-color:deeppink">
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th style="background-color:deeppink">
                @Html.DisplayNameFor(model => model.MinRange)
            </th>
            <th style="background-color:deeppink">
                @Html.DisplayNameFor(model => model.MaxRange)
            </th>
            <th style="background-color:deeppink">
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th style="background-color:deeppink"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
