@model eLab.Models.DijagnozaUputnica

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji</h1>

<div>
    <h4>DijagnozaUputnica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dijagnoza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dijagnoza.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uputnica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uputnica.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Nazad</a>
</div>
