@model IEnumerable<eLab.Models.Dijagnoza>

@{
    ViewData["Title"] = "Index";
}

<h1>Dijagnoze</h1>

<p>
    <a asp-action="Create">Dodaj novu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatinskiNaziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LokalniNaziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SifraMKB10)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatinskiNaziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LokalniNaziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SifraMKB10)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
